* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1600px;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
 
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 220px;
  background-color: #000000;
  left: 0px;
  right: 0px;
  
}

#logo-footer {
  position: absolute;
  width: 82px;
  height: 52px;
  left: 150px;
  top: 14px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  margin: 0;
  font-weight: 400;
  font-size: 19.01px;
  text-align: center;
  line-height: 120%;
  padding: 3px 1px;
}

a {
  text-decoration: none;
}
#logo-img {
  position: absolute;
  left: 10px;
  top: 23px;
}
.upper ul {
  position: absolute;
  left: 250px;
  height: inherit;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}
.upper ul li {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  transition: 1s;
  cursor: pointer;
}

.upper ul li a{
  color: #F1F3F2;
}
#about {
  color: #F9804B;
}
.upper ul li a:hover {
  color: rgb(255, 238, 0);
}

.upper ul li a a:active {
  color: #F9804B;
}
footer {
  width: 100%;
  height: 443px;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.footer-left {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-social {
  height: 30%;
  width: 100%;
}

.social-content {
  height: 30px;
  display: flex;
  align-items: center;
}

.social-content h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.social-content a {
  text-decoration: none;
  color: #FFF;
}

.social-icon {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding-top: 3px;
}

.footer-center {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.navbar-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.navbar-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.navbar-footer ul li a {
  margin: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-footer ul li a.active {
  color: #F9804B;
}

.footer-right {
  width: 25%;
  height: 100%;
  position: relative;
}

label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

form[method=post] {
  width: 100%;
  margin-top: 30px;
}

input[type=email] {
  margin-top: 15px;
  display: block;
  border: 2px solid #F9804B;
  background-color: #000;
  width: 228px;
  height: 42px;
  display: inline;
  border-radius: 5px;
  outline: none;
}

input[type=email]:invalid  {
  color: #FFF;
}

input[type=email]:valid {
  color: #FFF;
  border: 2px solid #4B9200;
  outline: none;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}

input[type=submit] {
  width: 129px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #D31414;
  color: #D31414;
  display: inline;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.design-by {
  text-align: end;
  position: absolute;
  bottom: 42px;
  right: 20px;
}

.design-by h6 {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 5px;
}

.button-footer {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
 }
 .button-footer:hover{
  background: #E47209;
  cursor: pointer;

}
.button-footer:active{
  background: #4B9200;
}
.button-footer:disabled{
  background: #767474;}


#main-info {
  padding-top: 40px;
  padding-bottom: 180px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.main-container{
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.info > h2 {
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFF;
    margin: 0;
    padding-bottom: 10px;
}

.info > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFF;
  margin-bottom: 40px;
  padding: 0;
}
.info > h3{
  padding-bottom: 60px;
  color: #FE9013;
  font-weight: 400;
  font-size: 36px;
}
.donation {
  padding: 41px 20px 20px 90px;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
}
.donation .info > h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  padding-bottom: 20px;
}
.donation .info > p {
  text-align: center;
  font-style: normal;
  color: #333B41;
  font-size: 24px;
  line-height: 120%;
}
.panda-count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 50px 0px 50px;
}
.four {
  margin-top: 45px;
  margin-right: 10px;
}
.four-number {
  margin: 0;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.four > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333B41;
}
.multiplicate {
  margin-top: 26px;
  margin-right: 70px;
  width: 14px;
  height: 14px;
}
.panda-img {
  margin-right: 82px;
    width: 284px;
    height: 246px;
}
.donate-bar {
  padding-top: 48px;
}
.donate-bar > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
}
.choose {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-left: 3px;
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
}
.bar {
  display: flex;
  align-items: center;
  gap: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 915px;
  height: 2px;
  background: #72828E;
}
.circle {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  cursor: pointer;
  transition: 0.5s;
}

.dot {
  position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 2px solid #FE9013;
    border-radius: 50%; 
}
.price {
  display: flex;
  padding-top: 13px;
  margin-left: auto;
  margin-right: auto;
}
.number {
  font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
}
.choosen-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form p {
  margin: 0px;
  margin-right: 67px;
  margin-left: -14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.time {
  display: flex;
  gap: 1px;
  padding-top: 12px;
}

.feed-now {
  padding-top: 29px;
  align-items: center;
}

.feed-now button {
  background: #FE9013;
  border-radius: 25px;
  border: none;
  width: 298px;
  margin: 0;
  padding: 16px 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.feed-now button:hover {
  background: #E47209;
}

.feed-now button:active {
  background: #4B9200;
}

.feed-now p {
  padding-top: 30px;
  padding-bottom: 62px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}